.vp-modal {
  border-radius: 0 !important;
  height: 100%;
}

#discourse-modal.coupon-modal-modal {
  .coupon-modal-body {
    .modal-inner-container {
      background-color: #{$coupon_background_color};
    }
    .coupon-content {
      text-align: center;
      img {
        width: #{$coupon_image_width};
        height: auto;
        margin-bottom: 0.75em;
      }
      h2 {
        color: #{$coupon_secondary_title_color};
      }
      p {
        color: #{$coupon_description_color};
      }
    }
  }
}
