{{#d-modal-body title=(theme-prefix 'coupon.title') class="coupon-modal-body"}}
  <div class="coupon-content">
    <img src="{{theme-setting 'coupon_image'}}"/>
    <h2>{{theme-i18n "coupon.big_text"}}</h2>
    <p>{{theme-i18n "coupon.little_text"}}</p>
  </div>
{{/d-modal-body}}
